@import url('reset.css');
@import url('tailwind.css');
@import url('elementCustom.css');

* {
  font-family: PingFang SC, open sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-container {
  padding: 15px;
}
